.container {
  background-color: #ffffff;
  margin: 48px;

  h3 {
    font-size: 1.4em;
    font-weight: normal;
  }

  button {
    background: #1C8689;
    border: 1px solid #018dc4;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font: normal normal bold 16px/normal "Courier New", Courier, monospace;
    margin-bottom: 8px;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
  }

  .scroll-container {
    border: #cccccc 1px solid;
    clear: both;
    height: 75vh;
    overflow-y: auto;
    padding: 8px;
  }

  .title {
    background-color: #1C5089;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 16px;
  }

  .text {
    font-size: 1.2em;
    line-height: 1.2em;
    position: relative;
    text-align: justify;
  }
}

.my-sticky-class {
  background-color: #1C8950 !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}